basic/TheThingsUno/workshop/samples/helloworld-flow.js
[{"id":"52a339ee.ad5cc8","type":"mqtt-broker","z":"98868b5e.677978","broker":"croft.thethings.girovito.nl","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"4dda424d.b225bc","type":"mqtt in","z":"98868b5e.677978","name":"","topic":"nodes/02DEAE00/packets","broker":"52a339ee.ad5cc8","x":144,"y":119,"wires":[["9ce778a5.631888"]]},{"id":"9ce778a5.631888","type":"json","z":"98868b5e.677978","name":"","x":403,"y":169,"wires":[["b3f552bb.4c0ab"]]},{"id":"b3f552bb.4c0ab","type":"function","z":"98868b5e.677978","name":"convert","func":"var data = new Buffer(msg.payload.data, \"base64\").toString();\nreturn {\n    payload: data\n};","outputs":1,"noerr":0,"x":400,"y":271,"wires":[["7f17e0e5.80e82"]]},{"id":"7f17e0e5.80e82","type":"debug","z":"98868b5e.677978","name":"","active":true,"console":"false","complete":"false","x":473,"y":347,"wires":[]}]
