parse/node-red.json
[{"id":"8c5e9fde.73a16","type":"mqtt-broker","z":"631f8d07.9ce074","broker":"croft.thethings.girovito.nl","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"c1626762.3e9d98","type":"json","z":"631f8d07.9ce074","name":"","x":1789,"y":424,"wires":[["195b10b1.e6a4ef","c47d0bcd.3b82f8"]]},{"id":"195b10b1.e6a4ef","type":"debug","z":"631f8d07.9ce074","name":"","active":false,"console":"false","complete":"payload","x":1973,"y":335,"wires":[]},{"id":"c47d0bcd.3b82f8","type":"function","z":"631f8d07.9ce074","name":"decode","func":"var buf = new Buffer(msg.payload.data, \"base64\");\n// var groups = /(\\d+), ((\\d*[.])?\\d+)/.exec(buf.toString());\n\nreturn {\n    payload: {\n        node: msg.payload.nodeEui,\n        value: buf[0],\n        gateway: msg.payload.gatewayEui\n    }\n}","outputs":1,"noerr":0,"x":1984,"y":481,"wires":[["e11f82fc.1ee08","6b608004.949f8"]]},{"id":"e11f82fc.1ee08","type":"debug","z":"631f8d07.9ce074","name":"","active":false,"console":"false","complete":"payload","x":2187,"y":419,"wires":[]},{"id":"6b608004.949f8","type":"function","z":"631f8d07.9ce074","name":"create request","func":"return {\n    headers: {\n        \"X-Parse-Application-Id\": \"[YOUR_APP_ID]\",\n        \"X-Parse-REST-API-Key\": \"[YOUR_API_KEY]\"\n    },\n    payload: msg.payload\n};","outputs":1,"noerr":0,"x":2166,"y":550,"wires":[["a12f0b87.5ed0f8","39bcf296.c6430e"]]},{"id":"a12f0b87.5ed0f8","type":"debug","z":"631f8d07.9ce074","name":"","active":false,"console":"false","complete":"true","x":2346,"y":494,"wires":[]},{"id":"39bcf296.c6430e","type":"http request","z":"631f8d07.9ce074","name":"","method":"POST","ret":"txt","url":"https://api.parse.com/1/classes/datas","x":2362,"y":612,"wires":[["6320e606.9cdf18"]]},{"id":"6320e606.9cdf18","type":"debug","z":"631f8d07.9ce074","name":"","active":false,"console":"false","complete":"true","x":2546,"y":602,"wires":[]},{"id":"7578d658.8a8728","type":"mqtt in","z":"631f8d07.9ce074","name":"","topic":"nodes/0000AA01/packets","broker":"8c5e9fde.73a16","x":1578.5,"y":285,"wires":[["c1626762.3e9d98"]]}]
