basic/thethings-uno/workshop/samples/sensors-flow.js
[{"id":"3ee04178.c11fbe","type":"mqtt-broker","z":"f910496.f06efb8","broker":"croft.thethings.girovito.nl","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""},{"id":"828c93f5.7d737","type":"mqtt in","z":"f910496.f06efb8","name":"","topic":"nodes/02DEAE00/packets","broker":"3ee04178.c11fbe","x":141,"y":96,"wires":[["7547f481.8ab80c"]]},{"id":"7547f481.8ab80c","type":"json","z":"f910496.f06efb8","name":"","x":255,"y":220,"wires":[["ac784cf4.5387b"]]},{"id":"ac784cf4.5387b","type":"function","z":"f910496.f06efb8","name":"convert","func":"var data = new Buffer(msg.payload.data, \"base64\").toString();\nvar fields = data.split(\", \");\n\nreturn {\n    payload: {\n        temperature: fields[0],\n        moisture: fields[1]\n    }\n}","outputs":1,"noerr":0,"x":425,"y":186,"wires":[["1896c8ed.e76937"]]},{"id":"1896c8ed.e76937","type":"debug","z":"f910496.f06efb8","name":"","active":false,"console":"false","complete":"false","x":583,"y":273,"wires":[]}]
